name: Pylint

on: [push]

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flake8
    - name: Analysing the code with pylint
      run: |
        pylint *.py
      continue-on-error: true

    - name: Analysing the code with flake8
      run: |
        flake8 --max-line-length 100 *.py
